@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Savate:ital,wght@0,200..900;1,200..900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    margin: 0px; padding: 0px;
    background-image: url("../images/card-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    backdrop-filter: blur(5px);

    height: 100vh;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;


}
.overlay {
    height: 100vh;
    width: 100%;
    padding: 8px;
    /* backdrop-filter: blur(5px); */
}
p {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    color: #333;
    background-color: #ffffffff;
    /* backdrop-filter: blur(1px); */

    border: 1px solid #999
}