body {
    margin: 0px; padding: 0px;

    /* center div css 1 */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */

    /* center div css 2 */
    /* display: grid;
    place-items: center;
    height: 100vh; */

    /* center div css 3 */
    position: relative;
    height: 100vh;

}
.child {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    background-color: red;
    width: 100px;
    height: 100px; 
    padding: 8px;
    color:white;

}