h1 {
    color: #999;
    position: relative;
    width: fit-content;
}

h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: red;
    height: 4px;
    width: 4px;
    transition: .3s;
    border-radius: 50px;
}

h1:hover::before {
    width: 100px;    
}