.parent {
    height: 300px;
    width: 200px;
    border: 2px solid #000;
    padding: 4px;
    position: relative;
}
.child {
    position: absolute;
    left: 12px;
    bottom: 12px;
    background-color: red;
}