{% extends "layout.html" %}

{% block title %}
Add Employee
{% endblock %}

{% block content %}

<a href="{% url 'employees' %}">Back to Employees </a>
<h1>Add new employee</h1>

<form action="{% url 'add-employee' %}" method="post">
    {% csrf_token %}
  <table border="1" cellspacing="0" cellpadding="10">
    <tr align="left">
      <th>Employee Id</th>
      <td>
        <input type="number" placeholder="Enter emp id" name="empid" />
      </td>
    </tr>
    <tr align="left">
      <th>Full name</th>
      <td>
        <input
          type="text"
          placeholder="Enter employee full name"
          name="fname"
        />
      </td>
    </tr>
    <tr align="left">
      <th>Email</th>
      <td>
        <input type="email" placeholder="Enter your email" name="email" />
      </td>
    </tr>
    <tr align="left">
      <th>Contact no</th>
      <td>
        <input
          type="number"
          placeholder="Enter your phone no"
          name="contact"
        />
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <button type="submit">Add new employee</button>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
