{% extends "layout.html" %}

{% block title %}
All Employees
{% endblock %}

{% block content %}

<h1>Employees</h1>
        
<a href="{% url 'add-employee' %}">Add new employee</a>
<hr />
<table border="1" cellspacing="0" cellpadding="10">
    <thead>
        <tr>
            <th>Sr</th>
            <th>Emp id</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% comment %} {% if 0 == 0 %}
        <tr>
            <td colspan="5">No records were found!</td>
        </tr>
        {% endif %} {% endcomment %}

        {% for emp in employees %}
            <tr>
                <td>{{ emp.id }}</td>
                <td>{{ emp.emp_id }}</td>
                <td>{{ emp.full_name }}</td>
                <td>{{ emp.email }}</td>
                <td>
                    <a href={% url 'employee-details' emp.id %}>
                        View
                    </a> &nbsp; | &nbsp; 
                    <a href={% url 'edit-employee' emp.id %}>
                        Edit
                    </a> &nbsp; | &nbsp;
                    <a href={% url 'delete-employee' emp.id %}>
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}